@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #020202;
}

@font-face {
  font-family: "Bookmark";
  src: url("/fonts/Bookmark.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bookmark-font {
  font-family: "Bookmark", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slate-fruit-hero {
  background: slategray;
  background: url("/fruit-bg.png") no-repeat 0 -10em #020202;
  position: absolute;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 200%;
  overflow: hidden;
  justify-content: center;
  padding: 24px 0 0;
  z-index: -10;
}
.header {
  margin: 10px;
  align-items: center;
  display: flex;
}

h1 {
  text-align: center;
}

.menu {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.menu {
  @apply hidden sm:flex;
}

.normal {
  @apply bg-transparent fixed text-white w-full justify-around items-center flex font-bold text-xl mt-10 transition-all duration-300 ease-in-out;
}

.scrolling {
  margin-top: 0;
  position: fixed;
  background: #151517;
  padding: 10px 0;
  top: 0;
  display: flex;
  align-items: center;
}
.scrolling .menu {
  border: none;
}

.gradient-bg {
  background: linear-gradient(to top, black 1%, transparent 30%);
}

.feature-span {
  @apply min-h-[400px] bg-black bg-opacity-20 rounded-lg sm:min-h-[400px] gap-10 m-2 justify-center items-center flex flex-col py-10;
}
.feature-span p {
  padding: 0 20px 20px 20px;
}
