@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #020202;
}

@font-face {
  font-family: "Bookmark";
  src: url("/fonts/Bookmark.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karstar";
  src: url("/fonts/Karstar.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bookmark-font {
  font-family: "Bookmark", sans-serif;
}
.signature-font {
  font-family: "Karstar", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slate-fruit-hero {
  background: slategray;
  background: url("/fruit-bg.png") no-repeat 0 -10em #020202;
  position: absolute;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 24px 0 0;
  z-index: -10;
}
.chef-bg {
  background: slategray;
  background: url("/chef-bg.png") no-repeat 0 -10em #020202;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 300%;
  min-height: 100vh;
  justify-content: center;
  padding: 24px 0 0;
  z-index: -10;
}
.header {
  margin: 10px;
  align-items: center;
  display: flex;
}

h1 {
  text-align: center;
}

.menu {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.menu {
  @apply hidden sm:flex;
}

header {
  @apply px-10 z-30;
}

.normal {
  @apply bg-transparent fixed text-white w-full justify-between  items-center flex font-bold text-xl mt-10 transition-all duration-300 ease-in-out;
}
.normal {
  animation: drop-in 0.25s ease-in forwards;
}

@keyframes drop-in {
  0% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

.scrolling {
  margin-top: 0;
  position: fixed;
  background: #151517;
  padding: 10px;
  top: 0;
  display: flex;
  align-items: center;
}
.scrolling {
  @apply px-10;
}
.scrolling .menu {
  border: none;
}

.gradient-bg {
  background: linear-gradient(to top, black 1%, transparent 100%);
}
.gradient-bg-absolute {
  background: linear-gradient(to top, black 10%, transparent 100%);
  position: absolute;
  bottom: 0;
}

.feature-span {
  @apply min-h-[400px]   rounded-lg sm:min-h-[400px] gap-10 m-2 justify-center items-center flex flex-col py-10;
}
.feature-span p {
  padding: 0 20px 20px 20px;
}

.feature-span button {
  @apply p-3 border rounded-full transition-all duration-300 ease-in-out hover:bg-black cursor-pointer z-0 relative;
}
.on-page {
  top: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.off-page {
  top: 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.book-now-button {
  background-color: white;
  color: black;
  border-radius: 0.375rem; /* 6px */
  padding: 0.75rem; /* 12px */
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.book-now-button:hover {
  transform: translateY(0.25rem); /* 4px */
  background-color: #94a3b8; /* slate-300 color */
}

.booking-form {
}
